[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=online_collab
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Online Collab
Comment=Online Collab